body {
    color: #5e5c5c;
}

#page {
    background-image: url(/themes/bobee/css/trame_bis.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

#main-wrapper {
    background-color: transparent;
}

.text-formatted li::before {
    content: "•";
    padding-right: 8px;
}

.text-formatted ul,.text-formatted ol {
    list-style: none;
    margin: 0.5em 0;
    padding: 0 0 0.25em 1.8em;
}

.site-branding__logo {
    margin-right: 0em;
}

.region-header .site-branding {
    float: left;
    text-align: center;
    margin: -0.6em 0em 0em 3em;
}

.region-header .site-branding img {
    width: 100%;
}

.telephone,.mail {
    font-family: 'rubik-bold';
    font-style: normal;
}

.mail {
    text-decoration: none;
    color: white;
}

.region.region-secondary-menu a:hover {
    text-decoration: underline;
    color: white;
}

#ensemble_email,#ensemble_telephone,#ensemble_preinscription {
    float: right;
    width: auto;
}

#ensemble_email p,#ensemble_telephone p {
    background-color: #3e5f46;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px 10px 0px 0px;
}

#ensemble_preinscription p {
    background-color: #c59b32;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px 10px 0px 0px;
}

#header {
    background-color: #fff;
    background-image: none;
}

b,strong {
    font-weight: bold;
    color: #000000;
}

a,.link {
    color: #5e5c5c;
}

a,a.link {
    text-decoration: underline;
    border-bottom: 0px dotted;
}

a:hover,a:focus,.link:hover,.link:focus {
    text-decoration: none;
    color: #5e5c5c;
}

.page-title {
    border-bottom: 5px solid #3e5f46;
    line-height: 1.3em;
}

h2 {
    color: #c59b32;
}

h3 {
    margin: 0.5em 0 0 0em;
    font-size : 1.2em;
}

#block-menubobee {
    font-size : 1.3125em;
    color: #3e5f46;
    width: auto;
}

#block-menubobee ul.menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 20;
    text-transform: uppercase;
    font-family: 'rubik-light';
    font-style: normal;
    font-weight: 300;
}

#block-menubobee ul.menu li {
    margin: 0px;
    cursor: pointer;
}

#block-menubobee ul.menu ul {
    position: absolute;
}

#block-menubobee .block-menu li {
    border-bottom: 0px;
}

#block-menubobee li {
    float: left;
    margin-right: 0px;
    padding: 1em;
    background-image: url(/themes/bobee/css/filet_menu.png);
    background-repeat: no-repeat;
    background-position: left center;
}

#block-menubobee li.menu-item.menu-item--expanded:hover {
    color: #000;
}

#block-menubobee ul li.expanded,#block-menubobee ul li.leaf {
    list-style: none;
}

#block-menubobee li a {
    display: block;
    text-align: left;
    color: #fff;
    text-decoration: none;
    line-height: 20px;
}

#block-menubobee li a:hover {
    text-decoration: underline;
}

#block-menubobee li:hover ul.menu a:hover {
    background-image: none;
    background-repeat: repeat no-repeat;
    width: auto;
}

#block-menubobee li ul.menu {
    display: none;
    text-transform: none;
    background-color: #3e5f46;
    margin-left: -15px;
    margin-top: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#block-menubobee li ul.menu li {
    display: block;
    float: none;
    background-color: #3e5f46;
    padding: 2px 10px 2px 10px;
    font-family: 'rubik-light';
    font-style: normal;
    font-weight: 300;
    font-size: 90%;
}

#block-menubobee li ul.menu li a {
    width: 100%;
    border: 0px;
    word-wrap: break-word;
    background: none;
}

#block-menubobee ul.menu li:hover ul {
    display: block;
}

@media screen and (max-width : 995px) {
    .region-header .site-branding {
        float:none;
        margin: 0em 0em 0em 0em;
    }

    .region-header .site-branding img {
        width: 80%;
    }

    #region-user-first {
        float: none;
    }

    #region-user-second {
        width: -moz-available;
        box-sizing: content-box;
    }

    #block-menubobee ul.menu li {
        cursor: none;
    }

    #block-menubobee {
        width: 100%;
        z-index: 10;
        display: inline;
        margin: 1.167em 0em 0em 0em;
    }

    #block-menubobee ul.menu {
        position: static;
        display: block;
    }

    #block-menubobee li ul {
        display: none;
    }

    #block-menubobee ul.menu ul {
        position: static;
    }

    #block-menubobee ul.menu li a {
        padding: 5px 10px 5px 10px;
    }

    #block-menubobee li {
        float: none;
        background-image: none;
        padding: 0em 1em 1em 1em;
        background-image: url(/themes/bobee/css/filet_menu.png);
        background-repeat: no-repeat;
        background-position: left 0em;
    }

    #block-menubobee li:hover ul a {
        width: 100%
    }

    #block-menubobee li ul.menu li {
        background-image: none;
        padding: 0px;
    }

    #block-menubobee li:hover ul.menu a:hover {
        width: auto;
    }

    #block-menubobee li ul.menu {
        display: block;
        text-transform: none;
        background-color: #3e5f46;
        margin-left: 0px;
        margin-top: 0px;
        padding: 0px;
        background-image: none;
    }

    #ensemble_email p,#ensemble_telephone p {
        margin: 0px;
    }

    #ensemble_email,#ensemble_telephone {
        width: 100%;
    }

    #ensemble_email p,#ensemble_telephone p {
        padding: 5px;
        margin: 0px 0px 0px 0px;
    }

    #ensemble_telephone {
        margin: 2px 0px 10px 0px;
    }

    .highlighted {
        display: none;
        background-color: #000 !important;
    }

    .view-vue-actualite .views-row {
        float: none !important;
    }

    .views-field-field-image-actu {
        float: none !important;
        margin-right: 0em !important;
    }

    .views-field-field-image-actu img {
        width: 100%;
    }

    .view-vue-actualite .view-footer {
        float: none !important;
    }

    .view-id-vue_evenement .views-row {
        float: left;
        text-align: center;
        margin-right: 4%;
        width: 100%!important;
        margin-bottom: 2em;
    }

    .view-id-vue_evenement .views-row:nth-child(2n) {
        float: left;
        text-align: center;
        margin-right: 0;
        margin-bottom: 2em;
    }

    .node--type-evenement img {
        width: 100%!important;
        float: inline-start;
        border: 15px solid #efeeeb;
        box-sizing: border-box;
        margin-right: 2%;
    }

    .view-vue-article-presse .views-row {
        float: none !important;
    }

    .views-field-field-image-presse {
        float: none !important;
        margin-right: 0em !important;
    }

    .views-field-field-image-presse img {
        width: 100%;
    }

    .view-vue-article-presse .view-footer {
        float: none !important;
        margin-bottom: 1em;
    }

    #block-blocesidoc img.image_bloc {
        display: none;
    }

    #block-blocesidoc a.text_cap {
        text-align: center!important;
        margin-left: 0px!important;
    }

    #block-blocscolinfo img.image_bloc {
        display: none;
    }

    #block-blocscolinfo a.text_cap {
        text-align: center!important;
        margin-left: 0px!important;
    }

    #block-blocdumenudelasemaine img.image_bloc_couvert {
        display: none;
    }

    #block-blocdumenudelasemaine a.text_cap {
        text-align: center!important;
        margin-left: 0px!important;
    }
}

a.btn_navigation::before {
    content: '☰';
    margin-right: 0.5rem;
}

a.btn_navigation {
    text-decoration: none;
    background-color: #c59c32;
    color: #fff !important;
    font-size: 1.5em;
    padding: 5px 10px 5px 10px;
}

a.btn_navigation:hover {
    background-color: #3e5f46;
}

#block-boutonpouraffichernavigation {
    clear: both;
    float: none;
    margin-top: 1em;
}

@media all and (min-width: 995px) {
    #block-boutonpouraffichernavigation {
        display:none !important;
    }

    #block-menubobee {
        display: block !important;
        margin: 1.167em 3em 0em 1em;
    }
}

#block-boutonpouraffichernavigation {
    display: block;
}

#block-menubobee {
    display: none;
}

.highlighted {
    background-color: #3e5f46;
}

.view-vue-bandeau {
    width: 100%;
}

.view-vue-bandeau .views-field-title {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 1;
    font-family: 'rubik-bold';
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.8125em;
    top: auto;
    bottom: 37px;
}

.view-vue-bandeau .views-field-title .field-content {
    background-color: #c59b32;
    padding: 0.5em;
}

.flexslider {
    margin: 0px;
    background: #fff;
    border: 0px solid #fff;
    position: relative;
    zoom:1;-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: '' 0px rgba(0,0,0,0.2);
    -moz-box-shadow: '' 0px rgba(0,0,0,0.2);
    -o-box-shadow: '' 0px rgba(0,0,0,0.2);
    box-shadow: '' 0px rgba(0,0,0,0.2);
}

.flex-direction-nav a {
    width: 200px;
    height: 50px;
    margin: -20px 0 0;
}

.flex-direction-nav a:before {
    color: rgba(255,255,255);
}

.form-required::after {
    content: '';
    vertical-align: super;
    display: inline-block;
    background-image: url(/themes/bobee/css/required.svg);
    background-repeat: no-repeat;
    background-size: 6px 6px;
    width: 6px;
    height: 6px;
    margin: 0 0.3em;
}

.button {
    background-color: #fff;
    background-image: -webkit-linear-gradient(top,#c59b32,#c59b32);
    background-image: linear-gradient(to bottom,#c59b32,#c59b32);
    border: 0px;
    font-family: 'rubik-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding: 0.8em 1.2em;
    border-radius: 0em;
    display: inline-block;
    line-height: normal;
}

.contact-form {
    border-radius: 0px;
}

.form-item label,.form-wrapper .label {
    font-family: 'rubik-light';
    font-style: normal;
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

@media all and (max-width: 600px) {
    .form-actions .button {
        font-family:'rubik-medium';
        font-style: normal;
        font-weight: 500;
        color: #fff;
        float: none;
        margin: 10px 0 0;
        padding: 0.8em 1.2em;
        width: 100%;
        display: block;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .js .dropbutton .dropbutton-action > input,.js .dropbutton .dropbutton-action > a,.js .dropbutton .dropbutton-action > button {
        text-align: center;
        padding-left: 3em;
    }
}

@media all and (min-width: 851px) {
    .main-content {
        float:left;
        position: relative;
    }

    [dir="rtl"] .main-content {
        float: right;
    }

    .layout-two-sidebars .main-content {
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
    }

    .layout-one-sidebar .main-content {
        width: 66.66%;
    }

    .layout-no-sidebars .main-content {
        width: 100%;
    }

    .layout-sidebar-first .main-content {
        margin-left: 25%;
        margin-right: 0;
    }

    [dir="rtl"] .layout-sidebar-first .main-content {
        margin-left: 0;
        margin-right: 25%;
    }

    .layout-sidebar-second .main-content {
        margin-right: 33.33%;
        margin-left: 0;
    }

    [dir="rtl"] .layout-sidebar-second .main-content {
        margin-right: 0;
        margin-left: 25%;
    }
}

@media all and (min-width: 851px) {
    .layout-one-sidebar .sidebar {
        width:345px;
    }

    #sidebar-first {
        width: 345px;
        margin-left: -100%;
    }

    [dir="rtl"] #sidebar-first {
        margin-right: -100%;
        margin-left: 0;
    }

    #sidebar-second {
        width: 33.33%;
        margin-left: -33.33%;
        clear: none;
    }

    [dir="rtl"] #sidebar-second {
        margin-right: -345px;
        margin-left: 0;
    }
}

.node--type-actualite img {
    border: 15px solid #efeeeb;
    box-sizing: border-box;
    margin-right: 2%;
}

.node--type-actualite .datetime {
    font-family: 'rubik-light';
    font-style: normal;
    opacity: 0.5;
    padding-top: 0.3em;
}

.view-vue-actualite .views-row {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 1.8em;
}

.view-vue-actualite .views-row:last-child {
    border-bottom: 0px solid #dbdbdb;
    padding-bottom: 0em;
}

.view-vue-actualite .views-row {
    float: left;
    margin: 1em 0em 1.4em 0em;
    color: #000;
    width: 100%;
}

.views-field-field-image-actu {
    float: left;
    margin-right: 2em;
    margin-bottom: 0.4em;
}

.view-vue-actualite p {
    font-size: 1.15em;
    color: #5e5c5c;
    line-height: 1.15em;
    margin: 0.5em 0 1em 0em
}

#block-views-block-vue-actualite-block-1 H2 {
    font-family: 'rubik-bold';
    text-transform: uppercase;
    font-size: 2em;
    color: #000;
}

.view-vue-actualite .views-field-title {
    font-family: 'rubik-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 1.7em;
}

.view-vue-actualite .views-field-title .field-content {
}

.view-vue-actualite .datetime {
    font-family: 'rubik-light';
    font-style: normal;
    font-size: 1em;
    opacity: 0.5;
    background-image: url(/themes/bobee/css/filet_actualite.png);
    background-repeat: no-repeat;
    padding-top: 0.3em;
}

.view-vue-actualite .views-field-view-node {
    padding-bottom: 0.5em;
}

.view-vue-actualite .views-field-view-node a {
    font-family: 'rubik-medium';
    color: #c59b32;
    text-decoration: none;
    border: 3px solid #c59b32;
    padding: 0.5em;
}

.view-vue-actualite .views-field-view-node a:hover {
    font-family: 'rubik-medium';
    color: #fff;
    text-decoration: none;
    border: 3px solid #c59b32;
    background-color: #c59b32;
    padding: 0.5em;
}

.view-vue-actualite .view-footer {
    float: right;
}

.sidebar h2 {
    border: 0px;
}

#block-views-block-vue-agenda-block-1 H2 {
    font-family: 'rubik-bold';
    text-transform: uppercase;
    font-size: 2em;
    color: #000;
}

#block-views-block-vue-agenda-block-1 {
    position: initial;
    background-color: white;
    border: 0px;
}

#block-views-block-vue-agenda-block-1 .view-footer {
    float: none;
    margin-top: 2em;
    text-align: center;
}

.view-vue-agenda .views-row {
    margin : 1em 0em 1em 0em;
    border-bottom: 2px solid #c59b32;
    padding-bottom: 1em;
}

.view-vue-agenda .datetime {
    font-family: 'rubik-light';
    font-style: normal;
    font-size: 1em;
}

.view-vue-agenda .views-field-title {
    float: right;
    font-family: 'rubik-medium';
    font-size: 1.25em;
    line-height: 1.3em;
    text-align: left;
    width: 76%;
    padding-top: 0.5em;
}

.view-vue-agenda .views-field-title a {
    text-decoration: none;
}

.view-vue-agenda .views-field-title a:hover {
    text-decoration: none;
    color: #c59b32;
}

.views-field-field-date-agenda {
    font-family: 'rubik-light';
    font-style: normal;
    font-weight: 300;
    font-size: 2em;
    color: #FFF;
    background-color: #c59b32;
    width: 50px;
    text-align: center;
    padding-top: 0.2em;
}

.views-field-field-date-agenda-1 {
    font-family: 'rubik-light';
    font-size: 1.2em;
    color: #FFF;
    background-color: #c59b32;
    width: 50px;
    text-align: center;
    padding-bottom: 0.5em;
}

.view-vue-agenda .views-row:last-child {
    border-bottom: 0px solid #dbdbdb;
    padding-bottom: 0em;
}

.view-vue-agenda.view-id-vue_agenda.view-display-id-page_1 .views-field-title {
    float: none;
    font-family: 'rubik-medium';
    font-size: 1.25em;
    line-height: 1.3em;
    text-align: left;
    width: 100%;
    padding-top: 0.5em;
}

.view-vue-agenda.view-id-vue_agenda.view-display-id-page_1 .views-field-field-date-agenda {
    font-size: 1em;
    padding-top: 0.3em;
    font-family: 'rubik-light';
    font-style: normal;
    font-weight: 300;
    color: #000;
    background-color: #fff;
    width: auto;
    text-align: left;
    padding-top: 0.2em;
    opacity: 0.5;
}

.view-vue-agenda.view-id-vue_agenda.view-display-id-page_1.view-vue-agenda .views-row {
    margin : 0em;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1em;
}

.view-vue-agenda.view-id-vue_agenda.view-display-id-page_1.view-vue-agenda.view-vue-agenda .views-row:last-child {
    border-bottom: 0px solid #dbdbdb;
    padding-bottom: 0em;
}

.node--type-agenda .datetime {
    font-family: 'rubik-light';
    font-style: normal;
    opacity: 0.5;
    font-size: 1em;
    color: #000;
}

#block-views-block-vue-document-block-1 .view-footer {
    float: none;
    clear: both;
    padding-top: 1.2em;
    text-align: center;
}

#block-views-block-vue-document-block-1 {
    background-color: white;
    border: 0px;
}

#block-views-block-vue-document-block-1 H2 {
    font-family: 'rubik-bold';
    text-transform: uppercase;
    font-size: 2em;
    color: #000;
}

#block-views-block-vue-document-block-1 ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: #373737;
}

#block-views-block-vue-document-block-1 ul li {
    padding: 0px 0px 53px 0px;
}

#block-views-block-vue-document-block-1 ul li a {
    float: left;
    font-family: 'rubik-medium';
    font-size: 1.25em;
    text-decoration: none;
    background-image: url(/themes/bobee/css/pdf_icone_32x32_bis.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#block-views-block-vue-document-block-1 ul li a:hover {
    text-decoration: none;
    background-image: url(/themes/bobee/css/pdf_icone_32x32_bis_nb.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media all and (min-width: 900px) {
    #block-views-block-vue-document-block-1 ul li a {
        padding-left:70px;
    }

    #block-views-block-vue-document-block-1 ul li a:hover {
        padding-left: 70px;
    }
}

.file--application-pdf {
    background-image: none;
}

.view-vue-document.view-id-vue_document.view-display-id-page_1 .views-row {
    margin: 0em;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1em;
}

.view-vue-document.view-id-vue_document.view-display-id-page_1 .views-row:last-child {
    border-bottom: 0px solid #dbdbdb;
    padding-bottom: 0em;
}

.file--application-pdf {
    background-image: url(/themes/bobee/css/pdf_icone_32x32_bis.png);
    background-repeat: no-repeat;
    background-position: 0px 7px;
    margin: 10px 10px 10px 5px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#block-coordonnees {
    clear: both;
}

.featured-bottom h2 {
    font-family: 'rubik-bold';
    text-transform: uppercase;
    font-size: 1.6em;
    color: #000;
    margin-bottom: 0.6em;
    text-align: center;
    line-height: 1em;
}

.site-footer {
    font-family: 'robot-regular';
    font-style: normal;
    font-weight: 400;
    padding: 10px 0 30px;
}

.site-footer__bottom {
    letter-spacing: 0.2px;
    margin-top: 0px;
    border-top: 0px;
    border-top-color: rgb(85,85,85);
    border-color: rgba(255,255,255,0.15);
}

.featured-bottom {
    background: transparent;
    border-top: 1px solid #e0ded8;
}

.view-vue-menu-restauration.view-id-vue_menu_restauration.view-display-id-block_1 {
    text-align: center;
}

#block-views-block-vue-menu-restauration-block-1 .item-list ul li a {
    text-decoration: underline;
}

#block-views-block-vue-menu-restauration-block-1 .item-list ul li a:hover {
    text-decoration: none;
}

#block-views-block-vue-menu-restauration-block-1 ul li {
    padding: 5px 0px 5px 0px;
}

.view-vue-menu-restauration.view-id-vue_menu_restauration.view-display-id-page_1 .views-field-field-document {
    text-align: center;
    padding: 2em 0em 1em 0em;
}

.view-vue-menu-restauration.view-id-vue_menu_restauration.view-display-id-page_1 .views-field-field-visuel-allergie {
    text-align: center;
    padding: 1em;
}

.view-vue-menu-restauration.view-id-vue_menu_restauration.view-display-id-page_1 .views-field-field-document a {
    font-family: 'rubik-medium';
    color: #c59b32;
    font-size: 1.2em;
    text-decoration: none;
    border: 3px solid #c59b32;
    padding: 0.5em;
}

.view-vue-menu-restauration.view-id-vue_menu_restauration.view-display-id-page_1 .views-field-field-document a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #c59b32;
}

.view-vue-commission-retaurant.view-id-vue_commission_retaurant.view-display-id-block_1 {
    text-align: center;
    margin-bottom: 2em;
}

#block-views-block-vue-commission-retaurant-block-1 .views-field-field-document {
    margin-top: 2em;
}

#block-views-block-vue-commission-retaurant-block-1 .views-field-field-document a {
    font-family: 'rubik-medium';
    color: #c59b32;
    font-size: 1em;
    text-decoration: none;
    border: 3px solid #c59b32;
    padding: 0.5em;
}

#block-views-block-vue-commission-retaurant-block-1 .views-field-field-document a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #c59b32;
}

#block-views-block-vue-commission-retaurant-block-1 h2 {
    color: #5e5c5c;
}

.sohappy {
    margin-top: 2em;
    margin-bottom : 2em;
    text-align: center;
}

#block-blocdumenudelasemaine {
    position: relative;
    background-color: #3e5f46;
    margin: 3em auto 2em auto;
}

#block-blocdumenudelasemaine a.text_cap {
    display: block;
    font-size: 1.4em;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    padding: 0.5em 0.5em 0.2em 0.5em;
    text-align: left;
    margin-left: 15px;
}

#block-blocdumenudelasemaine a.text_cap:hover {
    text-decoration: underline;
}

#block-blocdumenudelasemaine img.image_bloc_couvert {
    position: absolute;
    top: -25px;
    left: 243px;
}

#block-blocesidoc {
    position: relative;
    background-color: #3e5f46;
    margin: 3em auto 3em auto;
}

#block-blocesidoc a.text_cap {
    display: block;
    font-size: 1.4em;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    padding: 0.5em 0.5em 0.2em 0.5em;
    text-align: left;
    margin-left: 15px;
}

#block-blocesidoc a.text_cap:hover {
    text-decoration: underline;
}

#block-blocesidoc img.image_bloc {
    position: absolute;
    top: -13px;
    left: 220px;
    max-width: 27%;
}

#block-blocscolinfo {
    position: relative;
    background-color: #3e5f46;
    margin: 3em auto 3em auto;
}

#block-blocscolinfo a.text_cap {
    display: block;
    font-size: 1.4em;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    padding: 0.5em 0.5em 0.2em 0.5em;
    text-align: left;
    margin-left: 15px;
}

#block-blocscolinfo a.text_cap:hover {
    text-decoration: underline;
}

#block-blocscolinfo img.image_bloc {
    position: absolute;
    top: -13px;
    left: 220px;
    max-width: 27%;
}

.view-id-vue_evenement .form--inline {
    text-align: center;
    padding-bottom: 1em;
}

.view-id-vue_evenement .form-item {
    float: none;
    padding-top: 1em;
}

.view-id-vue_evenement .views-row {
    float: left;
    text-align: center;
    margin-right: 4%;
    width: 48%;
    margin-bottom: 2em;
}

.view-id-vue_evenement .views-row:nth-child(2n) {
    float: left;
    text-align: center;
    margin-right: 0;
    margin-bottom: 2em;
}

.view-id-vue_evenement img {
    width: 100%;
    border: 15px solid #efeeeb;
    box-sizing: border-box;
}

.views-field-field-lieu p {
    color: #000000;
    margin: 0px;
}

.view-id-vue_evenement .views-field-title {
    font-family: 'rubik-medium';
    font-size: 1.25em;
    line-height: 1.3em;
    padding-top: 0.5em;
}

.view-id-vue_evenement .views-field-title a {
    text-decoration: none;
}

.view-id-vue_evenement .views-field-title a:hover {
    text-decoration: none;
    color: #c59b32;
}

.node--type-evenement .field--name-field-lieu p {
    margin: 0 0 0.5em 0;
}

.node--type-evenement img {
    width: 30%;
    float: left;
    border: 15px solid #efeeeb;
    box-sizing: border-box;
    margin-right: 2%;
}

.node--type-evenement .field--type-image {
    float: none;
}

.field--name-field-date-evenement.field--type-datetime .datetime {
    font-family: 'rubik-light';
    font-style: normal;
    font-size: 1em;
    opacity: 0.5;
    background-image: url(/themes/bobee/css/filet_actualite.png);
    background-repeat: no-repeat;
    padding-top: 0.3em;
}

.node--type-article-de-presse img {
    border: 15px solid #efeeeb;
    box-sizing: border-box;
    margin-right: 2%;
}

.node--type-article-de-presse .datetime,.view-vue-article-presse .datetime {
    font-family: 'rubik-light';
    font-style: normal;
    opacity: 0.5;
    background-image: url(/themes/bobee/css/filet_actualite.png);
    background-repeat: no-repeat;
    padding-top: 0.3em;
}

#block-views-block-vue-article-presse-block-1 {
    clear: both;
}

#block-views-block-vue-article-presse-block-1 .views-row {
    float: left;
    margin: 1em 0em 1.4em 0em;
    color: #000;
    width: 100%;
}

#block-views-block-vue-article-presse-block-1 .views-field-title {
    font-family: 'rubik-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 1.7em;
}

#block-views-block-vue-article-presse-block-1 H2 {
    font-family: 'rubik-bold';
    text-transform: uppercase;
    font-size: 2em;
    color: #000;
}

#block-views-block-vue-article-presse-block-1 img {
    border: 1px solid #e5e5e5;
}

.field--name-field-nom-du-journal.field--type-entity-reference {
    margin: 10px 0px 5px 0px;
}

.view-vue-article-presse .views-row {
    color: #000;
    margin: 0.5em 0em 0.5em 0em;
    color: #000;
    width: 100%;
}

.view-vue-article-presse .view-header {
    padding-bottom: 1em;
}

.view-vue-article-presse .views-field-title a {
    font-family: 'rubik-medium';
    font-size: 1.25em;
    text-decoration: none;
}

.view-vue-article-presse .views-field-title a:hover {
    color: #c59b32;
}

.view-vue-article-presse h3:first-letter {
    color: #c59b32;
    text-transform: uppercase;
}

.view-vue-article-presse h3 {
    margin: 0em;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 0.8em;
    padding-bottom: 0.3em;
    color: #c59b32;
    text-transform: lowercase;
}

.views-field-field-image-presse {
    float: left;
    margin-right: 2em;
    margin-bottom: 0.4em;
}

.view-vue-article-presse p {
    font-size: 1.15em;
    color: #5e5c5c;
    line-height: 1.15em;
    margin: 0.5em 0 1em 0em
}

.view-vue-article-presse .views-field-view-node a {
    font-family: 'rubik-medium';
    color: #c59b32;
    text-decoration: none;
    border: 3px solid #c59b32;
    padding: 0.5em;
}

.view-vue-article-presse .views-field-view-node a:hover {
    font-family: 'rubik-medium';
    color: #fff;
    text-decoration: none;
    border: 3px solid #c59b32;
    background-color: #c59b32;
    padding: 0.5em;
}

.view-vue-article-presse .view-footer {
    float: right;
}

.sitemap .sitemap-box ul li span {
    font-family: 'rubik-medium';
    font-size: 1.2em;
    color: #000;
}

.sitemap .sitemap-box ul {
    list-style-image: none;
    list-style-type: none;
    padding-bottom: 1em;
}

.breadcrumb li::before {
    content: '\00a0/\00a0 ';
}

.breadcrumb {
    font-family: 'robot-regular';
    font-style: normal;
    font-size: 0.9em;
}

.breadcrumb li a {
    font-family: 'robot-regular';
    color: #3e5f46;
}

.breadcrumb li:first-child a {
    font-size: 1.2em;
}

#block-views-block-vue-lien-utile-block-1 .views-row {
    float: left;
    margin: 0px 15px 20px 15px;
}

#block-views-block-vue-lien-utile-block-1 .views-field-field-visuel-lien-utile {
    border: 1px solid #f7f7f5;
}

#block-views-block-vue-lien-utile-block-1 .views-field-field-visuel-lien-utile:hover {
    border: 1px solid #e0ded8;
}

.view-vue-edito .field--name-title:before {
    content: url(/themes/bobee/css/logo_bobee_puce.jpg);
}
